<%- include('../includes/head.ejs') %>

<div class="body-img-wrap">
	<img class="body-img" src="/img/login-screen.png"/>
</div>
    <main>
		<div class="card auth-wrap">
			<h1>Login</h1>
			<form class="login-form" action="/login" method="POST">

				<div class="form-control">
					<label for="email" autocomplete="email">E-Mail</label>
					<!-- Hier fügst du die vorherige Benutzereingabe ein -->
					<input type="email" name="email" id="email" value="<%= formData ? formData.email : '' %>" placeholder="E-Mail-Adresse">
				</div>
				<div class="form-control">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" placeholder="Passwort">
				</div>
				<button class="btn" type="submit">Login</button>
			</form>
			<p>
				Hast du noch keinen Account? <a href="/signup">Jetzt registrieren</a><br>
				oder dein Passwort vergessen? <a href="/pw-gen">Neu beantragen</a>
			</p>
		</div>
    </main>

<%- include('../includes/end.ejs') %>