.card-hand {
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
	margin: 0 auto;
	width: auto;
	height: auto;
	min-width: 300px;
	width: 100%;
	display: flex;
	fex-direction: column;
	justify-content: space-around;
	border: 1px solid rgba(0, 0, 0, .2);
}


.card {
	float: right;
	width: 180px;
	height: 260px;
	overflow: hidden;
	margin: 0 0 20px 0;
	background: black;
	padding: 0px;
	color: black;
	border: 1px solid rgba(100, 100, 100, .1);
	position: relative;


	border-radius: 18px;
	box-shadow: 1px 3px 20px rgba(0, 0, 0, .1);

}


.card img {
	position: absolute;
	top: -1%;
	left: -1%;
	width: 102%;
	height: 102%;
	opacity: 0.7;
	transition: transform .4s ease-out;
}

/*we put this in here to overwrite the previous rule ... */
.card-hand {
	display: block;
	border: none;
	margin-left: -200px;
}

.card-hand {
	display: block;
	border: none;
	margin-left: auto;
	width: max-content;
	margin-right: auto;
}


.card-hand .card {
	margin-right: -40px;
	display: inline-block;
	position: relative;
	text-align: right;
	transition: transform .4s ease-out;

}

.card-hand .card button {
	opacity: 0;
	z-index: 5;
	position: relative;
	pointer-events: none;
	transition: opacity .4s ease-out;
	background-color: #ddd;
}

.card-hand .card:hover button {
	opacity: 1;
	pointer-events: all;
}

.card-hand .card:hover {
	cursor: pointer;
	transform: translate(0, 15px) scale(1.06);
	transform-origin: bottom left;
	z-index: 4;

}
.card-hand .card:hover img{
	opacity: 1;

}

#players-hand {
	box-sizing: border-box;
	max-width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}

#players-hand::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	z-index: 1;
}