form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.form-control label {
	font-size: 12px;
}



/* Input Styles */
input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset,
                -3px -3px 3px white inset;
				border: none;
}

input.error:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.3) inset,
                -3px -3px 3px rgba(255, 0, 0, 0.3) inset;
				border: none;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):focus {
    padding: 10px;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2) inset,
                -3px -3px 3px white inset;
				outline: none;
				border: none;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
