form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.form-control label {
	font-size: 12px;
}



/* Input Styles */
input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset, 
                -3px -3px 3px white inset;
				border: none;
}

input.error:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.3) inset, 
                -3px -3px 3px rgba(255, 0, 0, 0.3) inset;
				border: none;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):focus {
    padding: 10px;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2) inset, 
                -3px -3px 3px white inset;
				outline: none;
				border: none;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* Flash Messages */
.flash-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  pointer-events: none;
}

.flash-message {
  margin-bottom: 10px;
  border-radius: var(--sborder-radius);
  box-sizing: border-box;
  padding: 10px;
  animation: fadeOut 2s ease forwards;
  animation-delay: 5s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), 
			  -3px -3px 3px white;

    pointer-events: none;
}

.error-message { background-color: var(--flash-error-bg); }
.success-message { background-color: var(--flash-success-bg); }
.notice-message { background-color: var(--flash-notice-bg); }


.chat-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
}

.chat {
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: var(--sborder-radius);
    background-color: var(--bg-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset, 
                -3px -3px 3px white inset;
				border: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
    padding: var(--gap);
	height: 60vh;
	overflow-y: scroll;
}
.chat .message {
	display: block;
	box-sizing: border-box;
	padding: 5px 16px;
	width: 80%;
	border-radius: var(--gap);
	background-color: rgb(172, 241, 218);
}
.chat .message.own{
	margin-left: auto;
	background-color: rgb(172, 209, 241);
}
.chat .message .sender{
	font-weight: 800;
	font-size: 0.8em;
	margin-bottom: 3px;
}
.chat .message .timestamp{
	font-size: 0.8em;
	text-align: right;
}
.chat-wrap input {
	width: 100%; /* oder eine spezifische Breite wie 300px */
	flex: 1; /* lässt das Input-Feld den verfügbaren Platz einnehmen */
}

.ship-wrap {
	box-sizing: border-box;
    padding: var(--gap);
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.small-ship, .medium-ship, .large-ship {
    display: flex;
    flex-direction: row;
}
.small-ship-field, .medium-ship-field, .large-ship-field {
	display: block;
	box-sizing: border-box;
	position: relative;
    background-color: rgb(61, 203, 255);
	border: 2px white solid;
	width: 25%;
	height: 20vh;
	color: white;
}
.ship-wrap label {
	display: block;
	box-sizing: border-box;
	padding: 3px;
	font-size: 1.5em;
	text-align: center;
	border-bottom: 2px white solid;
}
.ship-wrap span {
	font-size: 4.5em;
	opacity: 0.4;
	position: absolute;
	left: 5px;
}
.small-ship-field {
    background-color: rgb(61, 203, 255);
}
.medium-ship-field {
    background-color: rgb(0, 157, 214);
}
.large-ship-field {
    background-color: rgb(3, 98, 206);
}


.persons-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
	display: flex;
	flex-direction: column;
}
.persons-bar {
	box-sizing: border-box;
	padding: 100px;
	width: 600px;
	background: rgb(255,0,0);
	background: linear-gradient(270deg, rgb(178, 125, 0) 0%, rgb(102, 56, 0) 100%);
}


.bioms-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
	display: flex;
	flex-direction: column;
}
.biom-line {
	box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.biom-item {
	font-size: 10px;
	font-weight: 700;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid white 3px;
    height: 40px;
    width: 40px;
}

.misery-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
	display: flex;
	flex-direction: column;
}
.misery-bar {
	box-sizing: border-box;
	padding: 5px;
	width: 80px;
	background: rgb(255,0,0);
	background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,153,0,1) 36%, rgba(255,255,0,1) 52%, rgba(0,0,255,1) 100%);
}
.misery-item {
	font-size: 10px;
	font-weight: 700;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	border: solid white 2px;
    height: 25px;
    width: 25px;
}
.misery-item:nth-child(2n+1) {
    margin-left: auto;
    margin-bottom: -20.5px;
}

.misery-item:nth-child(2n+2) {
    margin-right: auto;
	transform: translateY(15px);
}
.misery-item:last-child {
    margin-bottom: 0px;
}


.order-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
	display: flex;
	flex-direction: column;
}
.order-bar {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.order-item {
	border: 2px solid black;
    height: 70px;
    width: 70px;
}


.property-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    padding: var(--gap);
    gap: var(--gap);
}

.property-item {
	border-radius: 50%;
	border: 2px solid black;
    height: 90px;
    width: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.propertycount {
	font-size:1.5em;
}

.progress-wrap {
	box-sizing: border-box;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    padding: var(--gap);
    gap: var(--gap);
}
.progress-group {
	width: 30%;
	box-sizing: border-box;
}
.progress-group-list {
	box-sizing: border-box;
	border: solid black 2px;
}
.progress-group-item:not(:first-of-type){
	border-top: solid black 2px;
}
.progress-group-item {
	box-sizing: border-box;
	padding: 10px;
}
.progress-group-item-title {
	font-weight: 800;
}

#ducats {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
    width: 72px;
    height: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset, -3px -3px 3px white inset;
}
#ducats label{
	font-weight: 700;
	font-size: 1.2em;
}


#dices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    border-radius: 120px;
    width: 120px;
    height: 24px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) inset, -3px -3px 3px white inset;
}

.dice {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.dice-side {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dice-side .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
}

/* Datenwert 1 */
.dice[data-value="1"] .dice-side.one {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Datenwert 2 */
.dice[data-value="2"] .dice-side.two {
    display: block;
}

.dice[data-value="2"] .dice-side.two .dot:first-child {
    top: 2px;
    left: 2px;
}

.dice[data-value="2"] .dice-side.two .dot:last-child {
    bottom: 2px;
    right: 2px;
}

/* Datenwert 3 */
.dice[data-value="3"] .dice-side.three {
    display: block;
}

.dice[data-value="3"] .dice-side.three .dot:nth-child(1) {
    top: 2px;
    left: 2px;
}

.dice[data-value="3"] .dice-side.three .dot:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dice[data-value="3"] .dice-side.three .dot:nth-child(3) {
    bottom: 2px;
    right: 2px;
}

/* Datenwert 4 */
.dice[data-value="4"] .dice-side.four {
    display: block;
}

.dice[data-value="4"] .dice-side.four .dot:nth-child(1) {
    top: 2px;
    left: 2px;
}

.dice[data-value="4"] .dice-side.four .dot:nth-child(2) {
    top: 2px;
    right: 2px;
}

.dice[data-value="4"] .dice-side.four .dot:nth-child(3) {
    bottom: 2px;
    left: 2px;
}

.dice[data-value="4"] .dice-side.four .dot:nth-child(4) {
    bottom: 2px;
    right: 2px;
}

/* Datenwert 5 */
.dice[data-value="5"] .dice-side.five {
    display: block;
}

.dice[data-value="5"] .dice-side.five .dot:nth-child(1) {
    top: 2px;
    left: 2px;
}

.dice[data-value="5"] .dice-side.five .dot:nth-child(2) {
    top: 2px;
    right: 2px;
}

.dice[data-value="5"] .dice-side.five .dot:nth-child(3) {
    bottom: 2px;
    left: 2px;
}

.dice[data-value="5"] .dice-side.five .dot:nth-child(4) {
    bottom: 2px;
    right: 2px;
}

.dice[data-value="5"] .dice-side.five .dot:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dice[data-value="6"] .dice-side.six {
    display: block;
}

.dice[data-value="6"] .dice-side.six .dot:nth-child(1) {
    top: 2px;
    left: 2px;
}

.dice[data-value="6"] .dice-side.six .dot:nth-child(2) {
    top: 2px;
    right: 2px;
}

.dice[data-value="6"] .dice-side.six .dot:nth-child(3) {
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.dice[data-value="6"] .dice-side.six .dot:nth-child(4) {
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}

.dice[data-value="6"] .dice-side.six .dot:nth-child(5) {
    bottom: 2px;
    left: 2px;
}

.dice[data-value="6"] .dice-side.six .dot:nth-child(6) {
    bottom: 2px;
    right: 2px;
}


