:root {
	--gap: 16px;
	--primary-color: #393939;
	--bg-color: #f5f5f5;
	--img-blend-color: #555;
	--primary-color: #444;

	--flash-error-color:#fff;
	--flash-error-bg:#b32c2c;
	--flash-success-color:#fff;
	--flash-success-bg:#009900;
	--flash-notice-color:#9e7600;
	--flash-notice-bg:#fafdb2;
	--flash-shadow: 0px 5px 15px 5px rgba(0,0,0,1);


	--sborder-top: solid 1px rgb(206, 206, 206);
	--sborder-left: solid 1px rgb(206, 206, 206);
	--sborder-right: solid 1px rgb(206, 206, 206);
	--sborder-bottom: solid 1px rgb(206, 206, 206);
	--sborder-error: solid 1px var(--flash-error-bg);
	--sborder-radius: 6px;
}

body {
	position: relative;
    display: block;
    margin: 0;
	font-family: sans-serif;
    font-size: 14px;
}

body .body-img-wrap .body-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 0;
}
body .body-img-wrap::after{
    content: "";
    position: absolute;
    height: 100%;
    display: block;
    width: 100%;
    background-color: var(--img-blend-color);
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
}
body > main{
	position: relative;
	z-index: 1;
	min-height: 100vh;
	backdrop-filter: blur(6px);
	background-color: var(--bg-color);
}
main.light-main {
	background-color: rgba(255,255,255,0.9);
}

.box {
	box-sizing: border-box;
	backdrop-filter: blur(4px);
	padding: 16px;
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	border-radius: var(--sborder-radius);
	background-color: var(--bg-color);
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1), -6px -6px 6px white
}
.box a {
	color: var(--primary-color);
}

.flex, .flex.row{
	display: flex;
	gap: var(--gap);
	flex-direction: row;
}
.flex.col{
	display: flex;
	flex-direction: column;
}

.flex.align-center {
	align-items: center;
}
.flex.space-between {
	justify-content: space-between;
}

nav {
    background-color: #ddd;
    display: flex;
    box-sizing: border-box;
    padding: var(--gap);
    align-items: center;
    justify-content: space-between;
	position: relative;
	z-index: 3;
}

section:first-of-type{
    display: block;
	box-sizing: border-box;
	padding-top: 50px;
	padding-bottom: 50px;
    max-width: 900px;
    margin: auto;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}
section{
    display: block;
	box-sizing: border-box;
	padding-top: 0;
	padding-bottom: 50px;
    max-width: 900px;
    margin: auto;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.text-center {
	text-align: center;
}

a:not(.button).wrap-link, a:not(.button).wrap-link:visited , a:not(.button).wrap-link:focus , a:not(.button).wrap-link:active {
	text-decoration: none;
	transition: 0.2s;
	color: var(--primary-color);
}
a:not(.button):not(.wrap-link), a:not(.button):not(.wrap-link):visited , a:not(.button):not(.wrap-link):focus , a:not(.button):not(.wrap-link):active {
	text-decoration: none;
	opacity: 0.7;
	transition: 0.2s;
	color: var(--primary-color);
}

a:not(.button):hover {
	opacity: 1;
}

.list {
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
    display: block;
    list-style-type: none;
    padding-inline-start: 0;
}

.list li {
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding: 12px;
	text-align: left;
}
.list li:first-child {
	border-top: 1px solid #ddd;
}

.list li:nth-child(even) {
	background-color: rgba(200, 200, 200, 0.1);
  }



  :root {
	--caustics-speed: 36.1s;
	--caustics-blur: 1px;
	--caustics-size: 500px;
	--caustics-border: 5px;
  }

  * {
	box-sizing: border-box;
  }

  .water {
	background-color: aqua;

	border: solid black;
	width: 100vw;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
  }

  .water > .content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	position: absolute;
	color: cyan;
	background-color: black;
	width: 100%;
	height: 100%;

	clip-path: margin-box inset(var(--caustics-border));
	padding: 10px;
	text-align: center;
  }

  .water .caustics {
	background-image: url("./ocean.webp");
	background-repeat: round;
	background-size: var(--caustics-size);
	filter: blur(var(--caustics-blur));
	mix-blend-mode: darken;
	position: absolute;
	width: 200%;
	height: 200%;
  }

  .water .caustics:nth-child(odd) {
	animation: offsetX calc(var(--caustics-speed) + 0.1s) infinite linear;
  }

  .water .caustics:nth-child(even) {
	animation: offsetY var(--caustics-speed) infinite linear;
  }

  @keyframes offsetX {
	from {
	  left: -100%;
	}

	to {
	  left: 0%;
	}
  }

  @keyframes offsetY {
	from {
	  top: -100%;
	}

	to {
	  top: 0%;
	}
  }