#mapwrap {
	box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
	border-bottom: 60px solid black;
}

#map {
    width: 4000px;
    cursor: grab;
    position: relative;
    aspect-ratio: 20 / 17;
    transform-origin: 0 0;
    transition: transform 0.2s;
    transform: scale(0.20);
}
main.watermain {
	background-color: transparent;
	backdrop-filter:none;
}
main.watermain::after {
	content: "";
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: #0038ffa8;
	z-index: -1;
}
