#mapwrap {
	box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: auto;
    background-color: #001c7f;
    overflow: hidden;
	border-bottom: 60px solid black;
}

#map {
    width: 4000px;
    cursor: grab;
    position: relative;
    background-color: #001c7f;
    aspect-ratio: 20 / 17;
    transform-origin: 0 0;
    transition: transform 0.2s;
    transform: scale(0.20);
}