/* Hamburg */
.bg-hamburg {
    background-color: #c17d4f;
}
.clr-hamburg {
    color: #c17d4f;
}

/* London */
.bg-london {
    background-color: #6c9649;
}
.clr-london {
    color: #6c9649;
}

/* Paris */
.bg-paris {
    background-color: #812327;
}
.clr-paris {
    color: #812327;
}

/* Venice */
.bg-venezia {
    background-color: #d59f3c;
}
.clr-venezia {
    color: #d59f3c;
}

/* Genoa */
.bg-genoa {
    background-color: #674582;
}
.clr-genoa {
    color: #674582;
}

/* Barcelona */
.bg-barcelona {
    background-color: #286c98;
}
.clr-barcelona {
    color: #286c98;
}