
svg {
	pointer-events: none;
}
svg path{
	pointer-events: all;
	z-index: 1;
}
/*svg:not([data-biom=zone]) path:hover{*/
/*	pointer-events: all;*/
/*	stroke: #fff;*/
/*	z-index: 3;*/
/*}*/

.region {
	position: absolute;
	pointer-events: none;
}

.region-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.region-wrap svg{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

[data-biom="coast"] .region-interface,[data-biom="zone"] .region-interface,[data-biom="sea"] .region-interface {
	display: none;
}

.region-interface {
	font-size: 20px;
	user-select: none;
	pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
	z-index: 4;
}

.region-attack-value {
    width: 20px;
    height: 20px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: 0.01em solid black;
    border-radius: 50%;
    pointer-events: none;
    text-align: center;
	margin-left: 4px;
	margin-bottom: 2px;
    line-height: 20px;
	font-weight: 800;
	user-select: none;
}

[data-biom="supporter"] .full-property-container {
	display: none;
}
.full-property-container {
    width: 50px;
    height: 50px;
	background-color: rgba(255,255,255,0.1);
    border: 0.01em solid rgba(255, 255, 255, 0.429);
    border-radius: 50%;
    pointer-events: none;
    text-align: center;
	user-select: none;
	position: relative;
	box-sizing: content-box;
}
.full-property-container img{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.partial-property-container {
    width: 24px;
    height: 24px;
	background-color: rgba(255,255,255,0.1);
    border: 0.01em solid rgba(255, 255, 255, 0.429);
    pointer-events: none;
    text-align: center;
	user-select: none;
    display: flex;
	position: relative;
	box-sizing: content-box;
}
.partial-property-container div {
    margin-left: -10px;
	transform: translateX(10px);
}

.partial-property-container img{
	top: 0;
	left: 0;
    width: 24px;
    height: 24px;
}
.region:not([data-biom="supporter"]) .partial-property-container {
    transform: translate(65px, -40px);
}
.region[data-biom="supporter"] .partial-property-container {
    transform: translate(4px, 4px);
}










.partial-property-container .img-venezia,
.partial-property-container .img-paris,
.partial-property-container .img-genoa,
.partial-property-container .img-hamburg,
.partial-property-container .img-barcelona,
.partial-property-container .img-london {
	display: none;
}

.partial-property-container .img-venezia i,
.partial-property-container .img-paris i,
.partial-property-container .img-genoa i,
.partial-property-container .img-hamburg i,
.partial-property-container .img-barcelona i,
.partial-property-container .img-london i {
	display: none;
    position: absolute;
    font-size: 8px;
    border-radius: 30px 30px 0 0;
    width: 10px;
    bottom: 100%;
    padding: 2px 1px 0 0;
}

/* London indicators */
[data-london="1"] .partial-property-container .london[data-label="1"] {
    display: block;
}
[data-london="2"] .partial-property-container .london[data-label="2"] {
    display: block;
}
[data-london="3"] .partial-property-container .london[data-label="3"] {
    display: block;
}
[data-london="4"] .partial-property-container .london[data-label="4"] {
    display: block;
}
[data-london="5"] .partial-property-container .london[data-label="5"] {
    display: block;
}
[data-london="6"] .partial-property-container .london[data-label="6"] {
    display: block;
}

/* Paris indicators */
[data-paris="1"] .partial-property-container .paris[data-label="1"] {
    display: block;
}
[data-paris="2"] .partial-property-container .paris[data-label="2"] {
    display: block;
}
[data-paris="3"] .partial-property-container .paris[data-label="3"] {
    display: block;
}
[data-paris="4"] .partial-property-container .paris[data-label="4"] {
    display: block;
}
[data-paris="5"] .partial-property-container .paris[data-label="5"] {
    display: block;
}
[data-paris="6"] .partial-property-container .paris[data-label="6"] {
    display: block;
}

/* Hamburg indicators */
[data-hamburg="1"] .partial-property-container .hamburg[data-label="1"] {
    display: block;
}
[data-hamburg="2"] .partial-property-container .hamburg[data-label="2"] {
    display: block;
}
[data-hamburg="3"] .partial-property-container .hamburg[data-label="3"] {
    display: block;
}
[data-hamburg="4"] .partial-property-container .hamburg[data-label="4"] {
    display: block;
}
[data-hamburg="5"] .partial-property-container .hamburg[data-label="5"] {
    display: block;
}
[data-hamburg="6"] .partial-property-container .hamburg[data-label="6"] {
    display: block;
}

/* Venezia indicators */
[data-venezia="1"] .partial-property-container .venezia[data-label="1"] {
    display: block;
}
[data-venezia="2"] .partial-property-container .venezia[data-label="2"] {
    display: block;
}
[data-venezia="3"] .partial-property-container .venezia[data-label="3"] {
    display: block;
}
[data-venezia="4"] .partial-property-container .venezia[data-label="4"] {
    display: block;
}
[data-venezia="5"] .partial-property-container .venezia[data-label="5"] {
    display: block;
}
[data-venezia="6"] .partial-property-container .venezia[data-label="6"] {
    display: block;
}

/* Barcelona indicators */
[data-barcelona="1"] .partial-property-container .barcelona[data-label="1"] {
    display: block;
}
[data-barcelona="2"] .partial-property-container .barcelona[data-label="2"] {
    display: block;
}
[data-barcelona="3"] .partial-property-container .barcelona[data-label="3"] {
    display: block;
}
[data-barcelona="4"] .partial-property-container .barcelona[data-label="4"] {
    display: block;
}
[data-barcelona="5"] .partial-property-container .barcelona[data-label="5"] {
    display: block;
}
[data-barcelona="6"] .partial-property-container .barcelona[data-label="6"] {
    display: block;
}

/* Genoa indicators */
[data-genoa="1"] .partial-property-container .genoa[data-label="1"] {
    display: block;
}
[data-genoa="2"] .partial-property-container .genoa[data-label="2"] {
    display: block;
}
[data-genoa="3"] .partial-property-container .genoa[data-label="3"] {
    display: block;
}
[data-genoa="4"] .partial-property-container .genoa[data-label="4"] {
    display: block;
}
[data-genoa="5"] .partial-property-container .genoa[data-label="5"] {
    display: block;
}
[data-genoa="6"] .partial-property-container .genoa[data-label="6"] {
    display: block;
}

/* Regeln für volle Besitztümer basierend auf Attack Value */
[data-attack-value="2"][data-venezia="2"] .full-property-container img.venezia,
[data-attack-value="2"][data-paris="2"] .full-property-container img.paris,
[data-attack-value="2"][data-genoa="2"] .full-property-container img.genoa,
[data-attack-value="2"][data-hamburg="2"] .full-property-container img.hamburg,
[data-attack-value="2"][data-barcelona="2"] .full-property-container img.barcelona,
[data-attack-value="2"][data-london="2"] .full-property-container img.london {
    display: block;
}

[data-attack-value="3"][data-venezia="3"] .full-property-container img.venezia,
[data-attack-value="3"][data-paris="3"] .full-property-container img.paris,
[data-attack-value="3"][data-genoa="3"] .full-property-container img.genoa,
[data-attack-value="3"][data-hamburg="3"] .full-property-container img.hamburg,
[data-attack-value="3"][data-barcelona="3"] .full-property-container img.barcelona,
[data-attack-value="3"][data-london="3"] .full-property-container img.london {
    display: block;
}

[data-attack-value="4"][data-venezia="4"] .full-property-container img.venezia,
[data-attack-value="4"][data-paris="4"] .full-property-container img.paris,
[data-attack-value="4"][data-genoa="4"] .full-property-container img.genoa,
[data-attack-value="4"][data-hamburg="4"] .full-property-container img.hamburg,
[data-attack-value="4"][data-barcelona="4"] .full-property-container img.barcelona,
[data-attack-value="4"][data-london="4"] .full-property-container img.london {
    display: block;
}

[data-attack-value="5"][data-venezia="5"] .full-property-container img.venezia,
[data-attack-value="5"][data-paris="5"] .full-property-container img.paris,
[data-attack-value="5"][data-genoa="5"] .full-property-container img.genoa,
[data-attack-value="5"][data-hamburg="5"] .full-property-container img.hamburg,
[data-attack-value="5"][data-barcelona="5"] .full-property-container img.barcelona,
[data-attack-value="5"][data-london="5"] .full-property-container img.london {
    display: block;
}

[data-attack-value="6"][data-venezia="6"] .full-property-container img.venezia,
[data-attack-value="6"][data-paris="6"] .full-property-container img.paris,
[data-attack-value="6"][data-genoa="6"] .full-property-container img.genoa,
[data-attack-value="6"][data-hamburg="6"] .full-property-container img.hamburg,
[data-attack-value="6"][data-barcelona="6"] .full-property-container img.barcelona,
[data-attack-value="6"][data-london="6"] .full-property-container img.london {
    display: block;
}

/* Regeln für partielle Besitztümer mit Attack Value Berücksichtigung */
[data-attack-value="2"][data-venezia="1"] .partial-property-container .img-venezia,
[data-attack-value="3"][data-venezia="1"] .partial-property-container .img-venezia,
[data-attack-value="3"][data-venezia="2"] .partial-property-container .img-venezia,
[data-attack-value="4"][data-venezia="1"] .partial-property-container .img-venezia,
[data-attack-value="4"][data-venezia="2"] .partial-property-container .img-venezia,
[data-attack-value="4"][data-venezia="3"] .partial-property-container .img-venezia,
[data-attack-value="5"][data-venezia="1"] .partial-property-container .img-venezia,
[data-attack-value="5"][data-venezia="2"] .partial-property-container .img-venezia,
[data-attack-value="5"][data-venezia="3"] .partial-property-container .img-venezia,
[data-attack-value="5"][data-venezia="4"] .partial-property-container .img-venezia,
[data-attack-value="6"][data-venezia="1"] .partial-property-container .img-venezia,
[data-attack-value="6"][data-venezia="2"] .partial-property-container .img-venezia,
[data-attack-value="6"][data-venezia="3"] .partial-property-container .img-venezia,
[data-attack-value="6"][data-venezia="4"] .partial-property-container .img-venezia,
[data-attack-value="6"][data-venezia="5"] .partial-property-container .img-venezia,
[data-attack-value="2"][data-paris="1"] .partial-property-container .img-paris,
[data-attack-value="3"][data-paris="1"] .partial-property-container .img-paris,
[data-attack-value="3"][data-paris="2"] .partial-property-container .img-paris,
[data-attack-value="4"][data-paris="1"] .partial-property-container .img-paris,
[data-attack-value="4"][data-paris="2"] .partial-property-container .img-paris,
[data-attack-value="4"][data-paris="3"] .partial-property-container .img-paris,
[data-attack-value="5"][data-paris="1"] .partial-property-container .img-paris,
[data-attack-value="5"][data-paris="2"] .partial-property-container .img-paris,
[data-attack-value="5"][data-paris="3"] .partial-property-container .img-paris,
[data-attack-value="5"][data-paris="4"] .partial-property-container .img-paris,
[data-attack-value="6"][data-paris="1"] .partial-property-container .img-paris,
[data-attack-value="6"][data-paris="2"] .partial-property-container .img-paris,
[data-attack-value="6"][data-paris="3"] .partial-property-container .img-paris,
[data-attack-value="6"][data-paris="4"] .partial-property-container .img-paris,
[data-attack-value="6"][data-paris="5"] .partial-property-container .img-paris,
[data-attack-value="2"][data-genoa="1"] .partial-property-container .img-genoa,
[data-attack-value="3"][data-genoa="1"] .partial-property-container .img-genoa,
[data-attack-value="3"][data-genoa="2"] .partial-property-container .img-genoa,
[data-attack-value="4"][data-genoa="1"] .partial-property-container .img-genoa,
[data-attack-value="4"][data-genoa="2"] .partial-property-container .img-genoa,
[data-attack-value="4"][data-genoa="3"] .partial-property-container .img-genoa,
[data-attack-value="5"][data-genoa="1"] .partial-property-container .img-genoa,
[data-attack-value="5"][data-genoa="2"] .partial-property-container .img-genoa,
[data-attack-value="5"][data-genoa="3"] .partial-property-container .img-genoa,
[data-attack-value="5"][data-genoa="4"] .partial-property-container .img-genoa,
[data-attack-value="6"][data-genoa="1"] .partial-property-container .img-genoa,
[data-attack-value="6"][data-genoa="2"] .partial-property-container .img-genoa,
[data-attack-value="6"][data-genoa="3"] .partial-property-container .img-genoa,
[data-attack-value="6"][data-genoa="4"] .partial-property-container .img-genoa,
[data-attack-value="6"][data-genoa="5"] .partial-property-container .img-genoa,
[data-attack-value="2"][data-hamburg="1"] .partial-property-container .img-hamburg,
[data-attack-value="3"][data-hamburg="1"] .partial-property-container .img-hamburg,
[data-attack-value="3"][data-hamburg="2"] .partial-property-container .img-hamburg,
[data-attack-value="4"][data-hamburg="1"] .partial-property-container .img-hamburg,
[data-attack-value="4"][data-hamburg="2"] .partial-property-container .img-hamburg,
[data-attack-value="4"][data-hamburg="3"] .partial-property-container .img-hamburg,
[data-attack-value="5"][data-hamburg="1"] .partial-property-container .img-hamburg,
[data-attack-value="5"][data-hamburg="2"] .partial-property-container .img-hamburg,
[data-attack-value="5"][data-hamburg="3"] .partial-property-container .img-hamburg,
[data-attack-value="5"][data-hamburg="4"] .partial-property-container .img-hamburg,
[data-attack-value="6"][data-hamburg="1"] .partial-property-container .img-hamburg,
[data-attack-value="6"][data-hamburg="2"] .partial-property-container .img-hamburg,
[data-attack-value="6"][data-hamburg="3"] .partial-property-container .img-hamburg,
[data-attack-value="6"][data-hamburg="4"] .partial-property-container .img-hamburg,
[data-attack-value="6"][data-hamburg="5"] .partial-property-container .img-hamburg,
[data-attack-value="2"][data-barcelona="1"] .partial-property-container .img-barcelona,
[data-attack-value="3"][data-barcelona="1"] .partial-property-container .img-barcelona,
[data-attack-value="3"][data-barcelona="2"] .partial-property-container .img-barcelona,
[data-attack-value="4"][data-barcelona="1"] .partial-property-container .img-barcelona,
[data-attack-value="4"][data-barcelona="2"] .partial-property-container .img-barcelona,
[data-attack-value="4"][data-barcelona="3"] .partial-property-container .img-barcelona,
[data-attack-value="5"][data-barcelona="1"] .partial-property-container .img-barcelona,
[data-attack-value="5"][data-barcelona="2"] .partial-property-container .img-barcelona,
[data-attack-value="5"][data-barcelona="3"] .partial-property-container .img-barcelona,
[data-attack-value="5"][data-barcelona="4"] .partial-property-container .img-barcelona,
[data-attack-value="6"][data-barcelona="1"] .partial-property-container .img-barcelona,
[data-attack-value="6"][data-barcelona="2"] .partial-property-container .img-barcelona,
[data-attack-value="6"][data-barcelona="3"] .partial-property-container .img-barcelona,
[data-attack-value="6"][data-barcelona="4"] .partial-property-container .img-barcelona,
[data-attack-value="6"][data-barcelona="5"] .partial-property-container .img-barcelona,
[data-attack-value="2"][data-london="1"] .partial-property-container .img-london,
[data-attack-value="3"][data-london="1"] .partial-property-container .img-london,
[data-attack-value="3"][data-london="2"] .partial-property-container .img-london,
[data-attack-value="4"][data-london="1"] .partial-property-container .img-london,
[data-attack-value="4"][data-london="2"] .partial-property-container .img-london,
[data-attack-value="4"][data-london="3"] .partial-property-container .img-london,
[data-attack-value="5"][data-london="1"] .partial-property-container .img-london,
[data-attack-value="5"][data-london="2"] .partial-property-container .img-london,
[data-attack-value="5"][data-london="3"] .partial-property-container .img-london,
[data-attack-value="5"][data-london="4"] .partial-property-container .img-london,
[data-attack-value="6"][data-london="1"] .partial-property-container .img-london,
[data-attack-value="6"][data-london="2"] .partial-property-container .img-london,
[data-attack-value="6"][data-london="3"] .partial-property-container .img-london,
[data-attack-value="6"][data-london="4"] .partial-property-container .img-london,
[data-attack-value="6"][data-london="5"] .partial-property-container .img-london {
    display: block;
}

/* Ausblenden ALLER partiellen Anzeigen wenn irgendein Land vollen Besitz hat */
[data-attack-value="2"][data-venezia="2"] .partial-property-container div,
[data-attack-value="2"][data-paris="2"] .partial-property-container div,
[data-attack-value="2"][data-genoa="2"] .partial-property-container div,
[data-attack-value="2"][data-hamburg="2"] .partial-property-container div,
[data-attack-value="2"][data-barcelona="2"] .partial-property-container div,
[data-attack-value="2"][data-london="2"] .partial-property-container div,
[data-attack-value="3"][data-venezia="3"] .partial-property-container div,
[data-attack-value="3"][data-paris="3"] .partial-property-container div,
[data-attack-value="3"][data-genoa="3"] .partial-property-container div,
[data-attack-value="3"][data-hamburg="3"] .partial-property-container div,
[data-attack-value="3"][data-barcelona="3"] .partial-property-container div,
[data-attack-value="3"][data-london="3"] .partial-property-container div,
[data-attack-value="4"][data-venezia="4"] .partial-property-container div,
[data-attack-value="4"][data-paris="4"] .partial-property-container div,
[data-attack-value="4"][data-genoa="4"] .partial-property-container div,
[data-attack-value="4"][data-hamburg="4"] .partial-property-container div,
[data-attack-value="4"][data-barcelona="4"] .partial-property-container div,
[data-attack-value="4"][data-london="4"] .partial-property-container div,
[data-attack-value="5"][data-venezia="5"] .partial-property-container div,
[data-attack-value="5"][data-paris="5"] .partial-property-container div,
[data-attack-value="5"][data-genoa="5"] .partial-property-container div,
[data-attack-value="5"][data-hamburg="5"] .partial-property-container div,
[data-attack-value="5"][data-barcelona="5"] .partial-property-container div,
[data-attack-value="5"][data-london="5"] .partial-property-container div,
[data-attack-value="6"][data-venezia="6"] .partial-property-container div,
[data-attack-value="6"][data-paris="6"] .partial-property-container div,
[data-attack-value="6"][data-genoa="6"] .partial-property-container div,
[data-attack-value="6"][data-hamburg="6"] .partial-property-container div,
[data-attack-value="6"][data-barcelona="6"] .partial-property-container div,
[data-attack-value="6"][data-london="6"] .partial-property-container div {
    display: none !important;
}


