.party-badge {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.party-badge img {
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: 0;
	left: 0;
}

.game-rounds {
	display: flex;
}
.round-count {
	display: block;
	box-sizing: border-box;
	padding: 5px 10px 5px 10px;
	background-color: rgb(65, 154, 206);
	border-radius: 20px 0 0 20px;
}
.round-phase {
    display: block;
    position: relative;
	box-sizing: border-box;
	padding: 5px;
    width: 26px;
    height: 26px;
	background-color: #ccc;
}
.round-phase:hover{
	background-color: rgb(124, 207, 255);
}
.round-phase:hover::before{
    border-left: 13px solid rgb(124, 207, 255);
}
.round-phase.first{
    width: 44px;
	padding-left: 15px;
}
.round-phase:not(.first){
    width: 44px;
	padding-left: 20px;
	padding-right: 4px;
}
.round-phase::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
	top: 0;
	left: 99%;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid #ccc;
    position: absolute;
	z-index: 4;
  }

#gameStatus {
	display: block;
	position: absolute;
	top: 0;
    background-color: rgba(5, 255, 55, 0.4);
	width: 200px;
	right: 0;
	padding: 2px 10px;
	border-radius: 0 0 0 10px;
	text-align: right;
	z-index: 5;
}

#gameStatus.error {
    background-color: rgba(255, 0, 0, 0.3);
}

#interfaces {
	position: absolute;
	top: 0;
	height: 100%;
	pointer-events: none;
}
#interfaces.active::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    pointer-events: all;
}

#interfaces .selective-interface.active {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
    position: relative;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
}
#interfaces .selective-interface {
	box-sizing: border-box;
    position: absolute;
	overflow: hidden;
	height: 0;
    width: 0;
    z-index: 4;
    background-color: var(--bg-color);
	opacity: 0;
	pointer-events: none;
}
