<%- include('../includes/head.ejs') %>
</head>
<body>
	<img class="body-img" src="/img/login-screen.png"/>
    <main>
		<div class="card auth-wrap">
			<h1>Das Zeitalter der Renaissance</h1>
			<a class="button" href="/login">Starten</a>
		</div>
    </main>
<%- include('../includes/end.ejs') %>