
<div class="order-wrap selective-interface" data-select-if="order">
	<div class="order-bar">
		<div class="order-item">1</div>
		<div class="order-item">2</div>
		<div class="order-item">3</div>
		<div class="order-item">4</div>
		<div class="order-item">5</div>
		<div class="order-item">6</div>
	</div>
</div>